*{padding:0; margin:0;}

li{list-style: none;}
span, p, b, h1, h2, h3, h4, h5, h6, ul, li{color: white;}




.container{
    width: 100%; height: 2000px;
    background-color: #1766FF;
    position: relative;

    .header{
        width: 1250px;
        margin: 0 auto;
        ul{
            position: fixed; top: 20px;
            z-index: 10;
            background-color: rgba($color: white, $alpha: 1);
            padding: 10px;
            border-radius: 10px;
            font-weight: bold;

    
            li{
                padding: 10px 0;
                color: black;
                display: inline-block;
                margin: 0 10px;
                cursor: pointer;
                &:hover{
                    text-decoration: underline;
                }
            }
        }
    
    }

    section{
        width: 1250px;
        margin: 0 auto;
    }

    .intro{
        height: 100vh;
        display: flex;

        .introAnimation{
            width: 725px;
            display: flex;
            justify-content: center;

            .profilePhoto{
                width: 600px; height: 240px;
                margin: auto 0;
                display: flex; align-items: center;
                
                overflow: hidden;
                position: relative;
    
                .photoBox{
                    display: flex;
                    position: absolute;
                    left: -200px;
    
                    img{
                        width: 200px; height: 200px;
                        object-fit: cover; border-radius: 20px;
                        display: block;
                    }
                }
            }
        }
        


        .profileMsg{
            width: 525px; height: 100%;
            display: flex; align-items: center; justify-content: center;
            color: white;
            font-size: 36px; line-height: 60px;
            letter-spacing: -4px;
            font-weight: bold;
            text-align: center;
            margin: auto 0;

            .motto{
                overflow: hidden;
                position: relative;
                height: 60px;
            }
        }
    }

    .skills{
        display: flex;
        height: 100vh;
        .puzzle-grid {
            margin: auto 0;
            position: relative;
            // display: flex; justify-content: center;
            width: 410px;
            table{
                border-collapse: collapse; 
                tr{
                    td{
                        border: 1px solid white;
                        width: 35px; height: 35px;
                        text-align: center;
                        color: white;
                        cursor: pointer;
                        text-transform: uppercase;
                        transition: 0.1s;
                    }
                    td.active{
                        background-color: white;
                        color: black;
                        border-color: #ccc;
                    }
                }
            }
        }

        .description{
            
            width: 840px;
            margin: auto 0;
            .my-motto{
                text-align: center;
                font-size: 18px;
            }
            .skill-level{
                margin-top: 50px;
                h2{margin: 20px 0; text-transform: uppercase;}
                ul{
                    height: 80px;
                    li{
                        list-style-type: circle;
                        display: none;
                        margin-left: 20px;
                    }
                }
            }
            .skill-tree{
                display: flex; justify-content: space-between;
                margin: 20px 0;
                .skill-img{
                    display: flex; justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    position: relative;
                    width: 70px;

                    .icon-active{
                        position: absolute; top: -25px;
                        font-size: 10px; color: white;
                        opacity: 0;
                        transition: 0.1s;
                    }
                    img{
                        width: 100%;
                        object-fit: cover;
                        transition: 0.1s;
                        &:hover{scale:1.1;}
                    }
                }

            }
        }
          
    }

    .profile{
        display: flex; align-items: center;
        height: 50vh;

        .profile-img{
            width: 200px; margin-right: 10px;
            height: 200px;
            border: 1px solid white;
        }
        .profile-personal{
            width: 515px; margin-right: 10px;
            // padding-left: 30px;
            line-height: 30px;
            p{
                margin-left: 50px;
            }
        }
        .profile-career{
            width: 515px;
            line-height: 30px;
        }
    }
}